.stat-card{
  background:#fff;
  border-radius:16px;
  box-shadow:0 4px 12px rgba(0,0,0,0.06);
}

.stat-icon{
  width:64px;
  height:64px;
  border-radius:50%;
  background:#fde8d6;
  display:flex;
  align-items:center;
  justify-content:center;
}
.stat-icon img{
  width:28px;
}




.stat-title{
  font-size:22px;
  font-weight:600;
}

.stat-arrow{
  font-size:18px;
  color:#8c8c8c;
}