.review-badge{
  background: #f7dcd6;
  border: 1px solid #F55B43;
  color: #F55B43;
  padding: 6px 12px;
  border-radius: 6px;
  margin-right: 12px;
}
.calendar-icon{
  margin-right: 6px;
}

.hat-icon {
  margin-right: 8px;
  background: #521209;
  padding: 10px;
  border-radius: 0 1000px 1000px 1000px;
  max-height: 150px;
}
.course-title{
  font-weight: 400;
  margin-bottom: 20px;
}

.banner-box{
  background: linear-gradient(
  120deg,#fff2e3 10%,
  #fff2e360
);
  border: 1px solid #f6c28b;
  padding: 12px;
  border-radius: 6px;
}
.download-btn {
  background: #F7931E; 
  color: #fff;
}
.fir-btn, .sec-btn{
  border-radius: 20px;
  padding: 6px 20px;
}
.sec-btn {
  border: 1px solid black;
}
.grid-box{
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 6px;
}

.box-icon{
  border-radius: 0px 100px 100px 100px;
  /* min-width: 80px;
  min-height: 80px; */
  background: #fde8d6;
}
.box-icon img {
  max-width: 80px;
  max-height: 80px;
}
.test-icon{
  margin-right: 10px;
}



.grid-text1 {
  font-size: smaller;
  color: #090909cb;
}

.grid-text2 {
  font-size: 30px;
  color: #0c0909d3;
}
.last-updated {
  background: #fff2e3;
  border: 1px solid #f6c28b;
  padding: 15px;
  border-radius: 6px;
  margin-top: 20px;
}
.update-title{
  margin-bottom: 10px;
  font-weight: 500;
}

.tick{
  color: #F55B43;
}


/* PRICING */
.pricing-heading{
  background: #f6c28b;
}
.pricing-card{
  border: 1px solid #dcdcdc;
  background: #f7f7f7;
  border-radius: 5px;
  padding: 10px 5px;
}

.pricing-left{
  gap: 6px;
}
.pricing-title {
  font-size: 15px;
}

.pricing-price-row {
  font-size: 15px;
  font-weight: 400;
}

.pricing-selling {
  color: #8a8a8a;
  font-size: 12px;
}

.pricing-active{
  background: #cfe6de;
  border: 2px solid #31c48d;
}

.pricing-tick{
  width: 20px;
  height: 20px;
  background: #31c48d;
  color: white;
  padding: 2px;
  border-radius: 100%;
  font-size : 10px;
}

.total-row {
  font-size: 18px;
}

.total-row-items{
    font-weight: 600;
    gap:5px;
}

.muted-items{
    font-size: medium;
}


.discount-badge {
  background: #f7941d;
  color: white;
  padding: 1px 8px;


  clip-path: polygon(10% 0,100% 0,100% 100%,10% 100%,0 50%);
}

.side-btn-1 {
  width: 100%;
  padding: 18px;
  border-radius: 28px;
  background: white;
  color: #000000;
  border: 1px solid #f7931e;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.cart-button {
  width: 100%;
  padding: 18px;
  background: #f7931e;
  border: none;
  font-size: 16px;
  border-radius: 28px;
  color: white;
}

.pricing-color{
background: linear-gradient(
  180deg,
  #e9993e1b 50%, #f1b9ae4b 50%
);
}




.test{
  position: relative;
  z-index: 110;
  margin-top: 80px;
}