/* :root {
  --primary: #f7931e;
  --primary-300: #d1782d;
  --primary-200: #e08933;
  --primary-100: #e9983e;

  --secondary: #f55b43;
  --secondary-300: #d33e25;
  --secondary-200: #e3664d;
  --secondary-100: #f1b9ae;
  --dark: #000000;

  --bg-page: #f5f4ef;
  --bg-white: #ffffff;

  --text-dark: #000000;
  --text-muted: rgba(0, 0, 0, 0.6);

  --border-light: rgba(0, 0, 0, 0.08);
  --primary-border: #f6c28b;

  --primary-soft: #fff2e3;
  --secondary-soft: #f7dcd6;
} */